export CONCOURSE_TARGET="tutorial"
export CONCOURSE_EXTERNAL_URL="http://localhost:8080"
export CONCOURSE_ADD_LOCAL_USER="<user>:<password>"
export CONCOURSE_MAIN_TEAM_LOCAL_USER="<user>"
export CONCOURSE_MAIN_TEAM_LOCAL_PASS="<password>"
export CONCOURSE_CLIENT_SECRET="<supersecret>"
export CONCOURSE_TSA_CLIENT_SECRET="<supersecret>"
export REGISTRY_CRT="registry.crt"
export REGISTRY_KEY="registry.key"
export REGISTRY_COUNTRY="US"
export REGISTRY_STATE="MI"
export REGISTRY_LOCALITY="Detroit"
export REGISTRY_ORGANIZATION="Acme"
export REGISTRY_CANONICAL_NAME="registry"
